.cell {
  &::after {
    content: "";
    cursor: row-resize;
    width: 100%;
    position: absolute;
    height: 8px;
    bottom: 0;
    left: 0;
  }
}

.searchTarget {
  background-color: #ffff0067;
}
