.root{
  height: 100%;
    padding: 16px;
    display: grid;
    grid-template-rows: 20px 1fr 80px;
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "content"
      "footer";
}
.header {
  grid-area: header;
  display: flex;
  align-items: center;
  width: 100%;
}

.main {
  grid-area: content;
  height: 100%;
}
.footer {
  grid-area: footer;
}

.divider {
  width: 100%;
  margin: 16px 0;
}

.buttonArea {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 16px;
}

.applyButton {
  width: 80px;
  height: 32px;
  margin-left: auto;
}
