.root {
  height: 100%;
  padding: 16px;
  display: grid;
  grid-template-rows: 60px calc(100% - 60px);
  grid-template-columns: 100%;
  grid-template-areas:
    "header"
    "content"
}
.header {
  grid-area: header;

}

.main {
  grid-area: content;
  height: 100%;
}

.divider {
  width: 100%;
  margin: 16px 0;
}
