.textArea {
  flex-grow: 1;
  padding: 0;
  border: none;
  outline: none;
  resize: none;
  font: inherit;
  &:focus {
    outline: none;
  }
}
.headerText {
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}
.cellRoot {
  display: flex;
  align-items: center;
}

.sortDirection {
  padding: 0 4px;
}
