.title {
  font-size: large;
  margin-bottom: 16px;
}

.tableRoot {
  margin-left: 24px;
}

.headerCell {
  height: 32px;
  display: inline-flex;
  align-items: center;
}
.cell {
  padding-left: 8px;
}

.textArea {
  margin: 8px 0;
}
