.headerRoot {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 16px;
}

.applyButton {
  width: 80px;
  height: 32px;
  margin-left: auto;
}

.cellSize {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.cellSizeSelect {
  width: 10em;
}
