.headerRoot {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 16px;
}

.apply {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 32px;
  margin-left: auto;
}
.applyButton {
  width: 100%;
}

.rowSize {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.rowSizeSelect {
  width: 10em;
}

.buttons {
  display: flex;
  gap: 8px;
}
