.searchRoot {
  position: absolute;
  top: 0;
  left: 60%;
  display: flex;
  width: 20rem;
  height: 2rem;
  padding: 4px;
  gap: 8px;
  border-radius: 4px;
  align-items: center;
  background-color: var(--vscode-settings-textInputBackground, #313131);
}

.searchInput {
  height: 100%;
  border-color: var(--vscode-focusBorder, #007acc);
  background-color: var(--vscode-settings-textInputBackground, #313131);
}

.searchStatus {
  text-align: right;
  min-width: fit-content;
}
